.messageContainer {
    padding: 20px;
    margin-bottom: 40px;
    width: 80%;
    border-radius: 15px;
    background-color: rgba(57, 192, 237, 0.2);
}

.me {
    margin-left: 20%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: rgb(251, 251, 251);
}

pre {
    white-space: pre-wrap;
}